.container {
    //    padding:35px ;
    height: 75%;
    width: 20%;
    background-color: rgb(251, 251, 253);
    position: fixed;
    margin-left: 41%;
    margin-top: 4%;
    color: rgb(1, 5, 10);
    border-radius: 5%;
    border: 2px solid black;
}

.content {
    padding: 25px;
    margin-left: 3%;
}
